@import '@/styles/common/px2rem.scss';
.swiper-container {
  height:px2rem(210);
  img{
    width:100%;
  }
}
.city-fixed {
  position: absolute;
  top: px2rem(18);
  left: px2rem(8);
  z-index: 999;
  height: px2rem(30);
  line-height:px2rem(30);
  font-size: px2rem(14);
  color: #fff;
  border-radius:px2rem(15);
  text-align: center;
  padding: 0 px2rem(5);
  background: rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
