@import '@/styles/common/px2rem.scss';
.tab-bar {
  position: fixed;
  bottom: 0;
  display: flex;
  width:px2rem(380);
  height: px2rem(50);
  z-index: 999;
  background: white;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: px2rem(1);
    background: #ededed;
    transform: scaleY(0.5);
  }

  &__item {
    flex: 1;

    a {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      font-size:  px2rem(12);
      color: #797d82;
      text-decoration: none;

      span {
        margin-top:  px2rem(4);
      }

      i {
        font-size:  px2rem(26);
      }

      &.active {
        color: #ff5f16;
      }
    }

  }
}
