@import '@/styles/common/px2rem.scss';
.lv-city {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  .header{
    height:px2rem(50);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: px2rem(20);
    .icon-zuojiantou{
      text-decoration: none;
    }
  }
}

.lv-indexlist {
  width: 100%;
  flex: 1;
  display: flex;
  background: #fff;
  overflow: hidden;
  &__content {
    flex: 1;
    height: 100%;
    overflow-y: auto;
  }
   &__nav {
    position: fixed;
    right:0;
    top:px2rem(100);
    width: px2rem(23);
    text-align: center;
    height: 100%;
    margin-top:px2rem(50);
    li {
      height: px2rem(18);
      font-size: px2rem(16);
      color: #191a1b;
      padding: 0 px2rem(6);
    }
  } 

  .lv-indexsection {
    &__index {
      background-color: #f4f4f4;
      color: #797d82;
      font-size: px2rem(16);
      padding-left: px2rem(15);
      height: px2rem(30);
      line-height: px2rem(30);
    }

    ul {
      display: flex;
      flex-wrap: wrap;
      padding: 0 px2rem(15);
      li {
        position: relative;
        width: 33.33%;
        height: px2rem(48);
        line-height: px2rem(48);
        font-size: px2rem(16);
        text-align: center;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        &::after {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          height: px2rem(1);
          background: #ededed;
          transform: scaleY(0.5);
          overflow: hidden;
        }
      }
    }
  }
}
